html, body {
    min-height: 100%;
}

.button_width {
    width: 100%;
}

.icon_size {
    width: 56px;
    height: 56px;
}

.bg_main_image {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-image: url("/src/img/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fill_radioButton{
    background: rgba(255, 255, 255, 0.84);
}

.inline_objects{
    display: flex;
}
